NEXT_PUBLIC_API_URL=http://187.127.118.174
NEXT_PUBLIC_SITE_URL=http://187.127.118.174:3000
NEXT_PUBLIC_SOLANA_NETWORK=mainnet-beta
NEXT_PUBLIC_SOLANA_RPC=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_ORVX_MINT=
NEXT_PUBLIC_TREASURY_ADDRESS=
NEXT_PUBLIC_USDC_MINT=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
NEXT_PUBLIC_INCINERATOR=1nc1nerator11111111111111111111111111111111
